<div class="dialog-container">
  <div [class]="'message-container ' + type">
    <span class="icon">
      <span [class]="'k-icon ' + getIconClass()"></span>
    </span>
    <div class="message-content">
      <p class="message">{{ message }}</p>
      <p *ngIf="solutionStatus" class="solution-status">
        Status: {{ solutionStatus }}
      </p>
    </div>
  </div>
  <div class="button-container">
    <button kendoButton [primary]="true" (click)="close()">
      {{ buttonText }}
    </button>
  </div>
</div>
